.incurance-all {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
      position: relative;
  }
  .incurance-text{
    height: 60px;
  }
  .incurance-block {
    justify-content: center;
    display: none;
    width: 250px;
    margin-left: -25px;
    height: auto;
    position: absolute;
    top: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 12px 7px 8px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 12px 7px 8px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 12px 7px 8px rgba(34, 60, 80, 0.2);
    padding: 10px;
    border: none;
    z-index: 1000;
  }
  .ull{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ull li {
    padding: 10px;
  }
  .ull a{
    text-decoration: none;
  }

  @media screen and (max-width: 455px) {
    .incurance-text{
      height: 45px;
    }
  }
  
  